name: CI Tests Run
on: [ push ]
jobs:
  phpunit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1

      - name: Install Dependencies via Composer
        run: composer install --no-ansi --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist

      - name: Execute tests via PHPUnit
        run: vendor/bin/phpunit
        with:
          name: database.sqlite
          path: database.sqlite
